aiohttp
appdirs
APScheduler
astroid
async-timeout
attrs
autopep8
beautifulsoup4
certifi
chardet
click
configparser
cqhttp
decorator
get
graia-application-mirai
graia-broadcast
graphviz
h2
hpack
hyper
hyperframe
idna
isort
iterwrapper
itsdangerous 
lazy-object-proxy 
loguru 
lxml 
MarkupSafe 
mccabe 
multidict 
objgraph 
olefile 
paddlepaddle-tiny 
post 
protobuf 
public 
pycodestyle 
pydantic 
pyee 
PyExecJS 
pylint 
pymongo 
pyppeteer 
pytz 
query-string 
redis 
regex 
request 
requests 
singledispatchmethod 
six 
soupsieve 
style 
toml 
tqdm 
typed-ast 
tzlocal 
update 
urllib3 
websockets 
Werkzeug 
wrapt 
yarl 
